.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

@media (max-width: 800px) {
  .header-nav ul {
    gap: 40px;
  }
}

.header-nav a {
  text-decoration: none;
  color: grey;
  font-size: 15px;
}

.header-nav a:hover {
  border-bottom: 1.5px solid black;
  color: black;
}

.header-nav input {
  border: none;
  outline: none;
  border-bottom: 1.5px solid grey;
  width: 140px;
}
